<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <!-- Social Icons -->
        <div class="flex space-x-4 mb-4 md:mb-0">
         
          <a href="https://github.com/Himanshuvaishy" class="text-white hover:text-gray-400 transition-colors">
            <i class="fa-brands fa-github text-xl"></i>
          </a>
          
          <a href="https://www.linkedin.com/in/himanshu-vaishy-359626222/" class="text-white hover:text-gray-400 transition-colors">
            <i class="fa-brands fa-linkedin text-xl"></i>
          </a>
        </div>

        <div class="text-center md:text-left mb-4 md:mb-0">
            <span class="font-bold text-red-600"> ©By Himanshu Vaishy</span>
          </div>
    
          <!-- Links -->
          <div class="flex space-x-4">
            <a href="/listings" class="hover:text-gray-400 transition-colors">Privacy</a>
            <a href="/listings" class="hover:text-gray-400 transition-colors">Terms</a>
          </div>
        </div>
      </div>
    </footer>